.account__profession { /*до инфо аккаунта*/
  display: inline-block;
  white-space: nowrap;/*многоточие не переносить*/
  overflow: hidden;/*многоточие спрятать переполнение*/
  text-overflow: ellipsis;/*многоточие как прерывается текст - ...*/
  max-width: 400px;
  line-height: 22px;
  margin: 16px 0 0 0;
}

@media screen and (max-width: 960px){
  .account__profession {
    max-width: 300px;
  }
}

@media screen and (max-width: 480px){
  .account__profession {
    max-width: 200px;
    font-size: 14px;
    line-height: 17px;
    margin: 5px 0 34px 26px;
  }
}
